/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body, p {
	font-size: 16px !important;
}

h2 {
	line-height: 1.2em;
	margin-top: 0px;
}

html {
	background-color: #ddd;
}

body {
	min-height: 600px;
	margin-top: 0px;
	padding: 12px;
	background-color: #fff;
}

.text-input {
	min-width: 200px;
  width: 94%;
  font-size: 18px;
}

.rounded {
  min-height: 35px;
  padding-left: 8px !important;
  border: solid 1px #999;
  box-shadow: inset 0px 4px 8px #ddd;
}
input[type=checkbox] {
  min-height: 0px;
  width: auto;
  border: none;
  box-shadow: none;
}
input:hover, input:focus, textarea:hover, textarea:focus {
  border-color: #2583D4;
}
.rounded {
  border-radius: 18px;
}
.btn, .btn:hover {
  padding: 8px !important;
  font-size: 18px;
  font-family: 'Brown-Bold';
  color: #fff;
  background-color: #206db0;
  background-image: linear-gradient(#206db0 0%,#185386 100%);
}
