<!DOCTYPE html>
<html>
<head>
  <title>VtPoll</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body style="max-width: 1000px; margin: auto;">

<%= yield %>

</body>
</html>
